<!DOCTYPE html>
<html>
    <body>
<<<<<<< HEAD
        <h1>Buster's Best Bowling Alley</h1>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>97 Bowling Alley Lane, Boulder CO </p>
=======
        <h1>The Name of the Bowling Alley</h1>
        <h2> The tagline</h2>
        <p>Address</p>
>>>>>>> 526ac74ae4578a2d48da4f4f087887ceb5dd13fb
    </body>
</html>